<main>
  <div class="centralizacao">
    <img src="/assets/icone.png" alt="" width="200vw" height="200vh">
  </div class="centerDiv">
  <div class="centralizacao">
    <span class="textos1">CADASTRO PARA EMPRESA</span>
  </div>
  <div>
    <div class="centerDiv">
      <span class="textos">RAZÃO SOCIAL</span>
      <br>
      <input class="centralizacao" type="text" placeholder="Razão Social" class="input">
    </div>
    <div class="centerDiv">
      <span class="textos">CNPJ</span>
      <br>
      <input class="centralizacao" type="textos" placeholder="CNPJ" class="input">
    </div>
    <div class="centerDiv">
      <span class="textos">RESPONSÁVEL LEGAL</span>
      <br>
      <input class="centralizacao" type="text" placeholder="Responsável" class="input">
    </div>
    <div class="centerDiv">
      <span class="textos">EMAIL</span>
      <br>
      <input class="centralizacao" type="text" placeholder="email" class="input">
    </div>
    <div class="centerDiv">
      <span class="textos">SENHA</span>
      <br>
      <input class="centralizacao" type="password" placeholder="Senha" class="input">
    </div>
    <div class="centralizacao">
      <button class="botao">CADASTRAR</button>
    </div>
  </div>
</main>