main{
    background-color: #dbead5;
    height: 100vh;
}

.centralizacao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textos{
    font-size: 1.9vh;
    padding: 1vh;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #36602c;
}

.textos1{
    font-size: 3vh;
    padding: 1vh;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #36602c;
}

.input{
    padding: 3px;
    width: 20vw;
    height: 3vh;
    border-radius: 0.5vh ;
    border: 0.5px solid #36602c;
    outline: none
}

.botao{
    padding: 10px;
    width: 10vw;
    border-radius: 0.5vh;
    background-color: #36602c;
    color: white;
    border: none;
}

.botao:hover{
    background-color: #47AF2F;
    color: white;
    transition: 1.6s;
}
