<main>
  <div class="centralizacao">
    <img src="/assets/icone.png" alt="" width="200vw" height="200vh">
  </div>
  <div class="centralizacao">
    <span class="textos1">CADASTRO PARA EMPRESA</span>
  </div>
  <div class="centralizacao">
    <span class="textos">RAZÃO SOCIAL</span>
    <input type="text" placeholder="Razão Social" class="input">
  </div>
  <div class="centralizacao">
    <span class="textos">CNPJ</span>
    <input type="textos" placeholder="CNPJ" class="input">
  </div>
  <div class="centralizacao">
    <span class="textos">RESPONSÁVEL LEGAL</span>
    <input type="text" placeholder="Responsável" class="input">
  </div>
  <div class="centralizacao">
    <span class="textos">EMAIL</span>
    <input type="text" placeholder="email" class="input">
  </div>
  <div class="centralizacao">
    <span class="textos">SENHA</span>
    <input type="password" placeholder="Senha" class="input">
  </div>
  <div class="centralizacao">
    <button class="botao">CADASTRAR</button>
  </div>
</main>