<main>

    <div class="centralizacao">
        <img src="/assets/icone.png" alt="" width="200vw" height="200vh">
    </div>
    <div class="centralizacao">
        <span class="textos1">CADASTRO PARA EMPRESA</span>
    </div>
    <div>
        <div class="centerDiv">
            <span class="textos">CNPJ</span>
            <br>
            <input  [(ngModel)]="cnpj" class="centralizacao" type="textos" placeholder="CNPJ" class="input">
        </div>
        <div class="centerDiv">
            <span class="textos">RAZÃO SOCIAL</span>
            <br>
            <input [(ngModel)]="razao" class="centralizacao" type="text" placeholder="Razão Social" class="input">
        </div>
        <div class="centerDiv">
            <span class="textos">TELEFONE</span>
            <br>
            <input [(ngModel)]="telefone" class="centralizacao" type="text" placeholder="Telefone" class="input">
        </div>
        <div class="centerDiv">
            <span class="textos">RESPONSÁVEL</span>
            <br>
            <input [(ngModel)]="nome" class="centralizacao" type="text" placeholder="Responsável" class="input">
        </div>
        <div class="centerDiv">
            <span class="textos">EMAIL</span>
            <br>
            <input [(ngModel)]="email" class="centralizacao" type="text" placeholder="E-mail" class="input">
        </div>
        <div class="centerDiv">
            <span class="textos">SENHA</span>
            <br>
            <input [(ngModel)]="senha" class="centralizacao" type="password" placeholder="Senha" class="input">
        </div>
        <div class="centralizacao">
            <button class="botao" (click)="cadatrarEmpresa()">CADASTRAR</button>
        </div>
    </div>

</main>