<main>
    <div class="centralizacao">
        <img src="/assets/logoExtrato.png" alt="" width="200vw" height="200vh">
    </div>
    <div class="centralizacao">
        <span class="textos">EXTRATO</span>
    </div>
    <!-- dados do banco -->
    <div class="assinaturasGeral">
        <div class="assinaturas">
            <span>______________________________________</span>
            <br>
            <span>EDUARDA BOLGENHAGEN DE CAMPOS</span>
            <br>
            <span>CONTADOR(A)</span>
        </div>
        <div class="assinaturas">
            <span>______________________________________</span>
            <br>
            <span>NOME DA EMPRESA</span>
            <br>
            <span>RESPONSÁVEL DA EMPRESA</span>
        </div>
    </div>

</main>
