<main>
    <div class="centralizacao">
        <img src="/assets/logoExtrato.png" alt="" width="200vw" height="200vh">
    </div>
    <div class="centralizacao">
        <span class="textos">EXTRATO</span>
    </div>

    <div>
        <!-- <div class="envolta" *ngFor="let gasto of listaGastos; let i= index">
            <div class="text">
                <h2>NF: {{gasto.NF}}</h2>
                <h5>DATA: {{gasto.DATA}}</h2>
                <h3>VALOR: {{gasto.VALOR}}</h2> -->
            </div>
        </div>
    </div>

</main>