<main>
    <div class="centralizacao">
        <img src="/assets/logoExtrato.png" alt="" width="200vw" height="200vh">
    </div>
    <div class="centralizacao">
        <span class="textos">EXTRATO</span>
    </div>

    <div>
        <div class="envolta" *ngFor="let gasto of listaGastos; let i= index">
            <div class="texts">
                <h2>NF: {{gasto.NF}} </h2>
                <h2> - </h2>
                <h2> {{gasto.CODIGO}}</h2>
            </div>
            <div class="texts">
                <h5>DATA {{gasto.DATA}}</h5>
            </div>
            <div class="valor">
                <h3>R$ {{gasto.VALOR}}</h3>
            </div>
        </div>
    </div>

</main>