<main>
  <div>
    <!-- div para logo -->
    <div class="centralizacao">
      <img src="./assets/icone.png" alt="" width="200vw" height="200vh">
    </div>
    <form action="">
      <!-- títulos das notas fiscais -->
      <div class="centralizacao">
        <span class="textos">TÍTULO DA NF *</span>
      </div>
      <div class="centralizacao">
        <input type="text" placeholder="Título" class="input">
      </div>
      <!-- cadastro de valores -->
      <div class="centralizacao">
        <span class="textos">VALOR R$ *</span>
      </div>
      <div class="centralizacao">
        <input type="text" placeholder="Valor" class="input">
      </div>
      <!-- inserção de data  -->
      <div class="centralizacao">
        <span class="textos">DATA *</span>
      </div>
      <div class="centralizacao">
        <input type="date" placeholder="DATA *" class="input">
      </div>
      <div class="centralizacao2">
        <button class="botao" type="reset">Cancelar</button>
        <button class="botao" (click)="cadastrarNotas()">Cadastrar</button>
      </div>
    </form>
  </div>
</main>