<main>
  <div class="centralizacao">
    <img src="./assets/icone.png" alt="" width="200vw" height="200vh">
  </div>
  <div class="centralizacao">
    <button (click)='gastos()' class="botao">CADASTRAR NOTAS</button>
  </div>
  <div class="centralizacao">
    <button (click)='extrato()' class="botao">EXTRATO</button>
  </div>
  <div class="centralizacao">
    <a href="https://wa.me/5547997153028"><button class="botao">Meu Botão</button></a>
  </div>
  <div class="centralizacao">
    <button (click)='logout' class="botao">LOGOUT</button>
  </div>
</main>

<!-- (click)='' -->