<body class="body">
  <div class="centralizacao">
    <img src="./assets/logoo.png" alt="" width="300vw" height="300vh">
  </div>
  <div class="centralizacao2">
    <input type="text" placeholder="Usuário" class="input">
  </div>
  <div class="centralizacao2">
    <input type="password" placeholder="Senha" class="input">
  </div>
  <div class="centralizacao3">
    <button (click)='logar()' class="botao">ENTRAR</button>
  </div>
  <div class="centralizacao3">
    <button (click)='cadastroClick()' class="botao">CADASTRE-SE</button>
  </div>
  <div class="centralizacao3">
    <button class="botao">ENTRAR COM O GOOGLE</button>
  </div>
</body>